version: '3.8'

services:
  app:
    build:
      context: ./
      dockerfile: docker/php/Dockerfile
    container_name: php
    restart: always
    working_dir: /var/www
    volumes:
      - ./app:/var/www
    environment:
      - COMPOSER_HOME=/composer
      - COMPOSER_ALLOW_SUPERUSER=1
      - APP_ENV=${APP_ENV}
      - APP_SECRET_KEY=${APP_SECRET_KEY}

      # Banco de dados (env Laravel via container)
      - DB_CONNECTION=pgsql
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=${POSTGRES_DB}
      - DB_USERNAME=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db

  nginx:
    image: nginx:1.28.0-alpine3.21-slim
    container_name: nginx
    restart: always
    ports:
      - "8000:80"
    volumes:
      - ./app:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - app

  db:
    build:
      context: ./
      dockerfile: docker/db/Dockerfile
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5435:5432"
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:

networks:
  default:
    driver: bridge
